/*
Colors used:
Primary Color (Clutured): #F7F7F7;
Accent Color (Cerulean Foreast): #6A8EAE;
Accent Color (Rich Black FOGRA 39): #0A0908;
Accent Color (Cadet): #5D737E;
*/

/*
Type
font-family: 'Open Sans', sans-serif; weights: 400,700
font-family: 'PT Serif', serif;
*/



/*General Styles*/
* {
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
}

main {
  padding-top: 56px;
}

img {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.navtoggle li:not(:last-child) {
display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}


/*General type styles*/
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #333333;
}

h1, h2, h3, h4 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  line-height: normal;
  color: #333333;
}


ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #333333;
}

 a {
   text-decoration: none;
 }



/* Layout styling */
.container {
  padding: 30px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}



/*Header Styling*/

/*#hero h1 {
  font-size: 30px;
  text-align: center;
  padding: 50px 90px 20px 80px;
  color: 141414;
  line-height: 1.6;
}*/


.logo {
  color: #333333;
  max-width: 250px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  display:inline-block;
  padding:0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

header {
  width: 100%;
  background-color: #F7F7F7;
  /*text-align: center;*/
  position: fixed;
  padding: 10px 0 4px;
}



/*Navagation Styling*/
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 400;
  color: #0A0908;
  text-decoration: none;
}

/*nav {
  display: inline-block;
  width: 100%;
}*/

#hero {
  background-color: #F7F7F7;
  padding: 25px 0 0 0;
  display: inline-block;
  width: 100%;
}



/*Work Styling: type styling on line 45*/
a.button {
  display: inline-block;
  background-color: #6A8EAE;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  margin: 0 0 0 15px;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
}

.project_title {
  text-align: left;
  padding: 0 0 0 15px;
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  line-height: normal;
}

.title_description {
  font-family: 'open sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
  color: #333333;
  padding: 0 0 0 15px;
  margin: 14px 0 10px 0;
}

#sub_title {
  font-family: 'open sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.7;
  color: #333333;
  text-align: center;
  padding: 0 0 0 15px;
}

#work {
}


/*footer Styling*/

#contact {
  margin-top: 30px;
}


#contact h2 {
  text-align: center;
  color: #0A0908;
  margin: 0;
  font-size: 30px;
}

#contact p {
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
}

#contact {
  text-align: center;
  color: #333333;
}

a.email {
  color: #6A8EAE;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

i {
  margin-top: 20px;
  margin-bottom: 20px;
}

#copyright {
  font-size: 14px;
}



/*About Page*/
#profile {
  max-width: 100%;
  margin: 100px 100px 20px 100px;
}

#profile_title {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  color: #0A0908;
  line-height: normal;
  padding: 0 0 0 15px;
}

#story p {
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #333333;
  padding: 0 0 0 15px;
}

.sub_title {
  font-family: 'PT Serif', serif;
  font-size: 22px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

ul.skills_tools{
  margin-top: 5px;
  padding-left: 15px;
}

.skills_tools li {
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: #333333;
  list-style-type: none;
}



/*Project Page*/
#project {
  margin-left: 150px;
  margin-right: 150px;
}

.project_type {
  font-family: 'open sans', sans-serif;
  font-weight: 300;
  line-height: normal;
  color: #333333;
  font-size: 20px;
  text-align: left;
  color: #0A0908;
  line-height: 1.6;
  margin-top: 5px;
  margin-bottom: 20px;
}

.project_heading {
  margin-top:50px;
  margin-bottom: 0;
}

.process {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  line-height: normal;
  color: #333333;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.process_copy {
  font-family: 'open sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
  list-style-type: none;
  margin-top: 5px;
}



/* ==============================
small devices (480px and larger)
================================= */
@media only screen and (min-width: 480px) and (max-width: 639px) {
  #hero h1 {
    font-size: 24px;
    text-align: left;
    padding: 40px 50px 0px 50px;
    color: #0A0908;
    line-height: 1.6;
  }

  nav > ul {
  margin: 1em 0;
}

}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) and (max-width: 1023px) {

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
  }

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 76px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  #hero span {
    display: block;
  }

  #hero p {
    text-align: center;
  }

  #hero h1 {
    font-size: 28px;
    text-align: center;
    padding: 30px 100px 10px 100px;
    margin-top: 50px;
    color: #0A0908;
    line-height: 1.5;
  }

  .col-md-6 {
    width: 50%;
    float: left;
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
}

}



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
  }

  .col-lg-7 {
    width: 58.33%;
    float: left;
  }

  .col-lg-5 {
    width: 41.66%;
    float: left;
  }

  .container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  }

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 76px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  #hero span {
    display: block;
  }

  #hero p {
    text-align: center;
  }

  .col-md-6 {
    width: 50%;
    float: left;
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
}

  #hero h1 {
    font-size: 32px;
    text-align: center;
    padding: 50px 150px 20px 150px;
    margin-top: 50px;
    color: #0A0908;
    line-height: 1.5;
  }

}




/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  .navtoggle li:not(:last-child) {
  display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
  }


}
